.footer{
    padding: 0px;
    bottom: 0px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    background-color: var(--footer-bg);
    .footer-body{
        height: 80px;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            color: var(--base-color-primary);
            font-size: 14px;
        }
        .link{
            font-size: 14px;
            font-weight: 600;
            color: var(--base-color);
        }
    }
}