
:root{
   
    --body-bg: #f9fbfd;
    --base-color: #12263f;

    --scroll-bg:#eaefff;
    --scroll-thumb-bg:#9e88f5;
    --scroll-thumb-bg-primary:rgba(98, 89, 202, 0.185);

    --base-color-primary:#76839a;
    --base-color-secondary: #6259ca;
    --base-gradient-bg: #9e88f5 0,#6259ca;
    --header-bg: #f9fbfd;
    --footer-bg: #f9fbfd;
    --navbrand-bg : #fff;
    --sidebar-bg: #fff;
    --bg-parmary: #f5f6fa;
    --box-bg: #ffffff;
    --box-bg-primary: transparent;
    --menu-item-active-bg: #9e88f5 0,#6259ca;

    --breadcrumb-item-color: #6259ca;
    --breadcrumb-item-active-color:#76839a;

    --base-border-color: #edf2f9;
    --base-border-parimary: #e3ebf6;
    --progess-bar-bg: #eaefff;

    --bs-success: #b8d935;
    --bs-green : #00d97e;
    --bs-red: #ee335e;
    --bs-yellow : #fea246;
    --bs-purple : #6259ca;
    --bs-white: #ffffff;
    --bs-gray-100: #f5f6fa;
    --bs-gray-300 :#b1c2d9;
    
    --bs-gray-500: #76839a;
    --margin-top-footer: 0px 25px;
    --tabnav-active-bg: #eaefff;
    --ellipsis-hover-bg: #9e88f5;
}


.dark-theme{
    --scroll-bg:#212130;
    --scroll-thumb-bg:#9e88f5;
    --scroll-thumb-bg-primary:#17171E;

    --body-bg: #17171E;
    --base-color: #fff;
    --base-color-primary:#76839a;
    --base-color-secondary: #6259ca;
    --base-border-color: #2e2e42;
    --header-bg: #212130;
    --footer-bg: #212130;
    --navbrand-bg : #212130;
    --sidebar-bg: #212130;
    --bg-parmary: #17171E;
    --box-bg: #212130;
    --box-bg-primary: #212130;
    --menu-item-active-bg: #9e88f5 0,#6259ca;
    --progess-bar-bg: #17171E;
    --margin-top-footer: 0px 0px;

}
