@import './core';
@import './components/list';
@import './components/dropdown';
@import './components/card';
@import './components/tables';
@import './components/badge';
@import './components/tab';
@import './components/chart';
@import './components/button';
.wrapper{
    transition: margin-left .3s ease;
    margin-left: 250px;
    .container-fluid{
        padding: 0px 30px;
    }
    .page-top-border,.page-footer-border{
        border-top: 1px dashed var(--base-border-color);
        margin: var(--margin-top-footer);
    }
    .wrapper-content{
        margin-top: 30px;
        margin-bottom: 30px;
        flex: 1 1 auto;
        min-height: calc(100vh - 242px) ;
        .heading{
            h2{
                font-size: 18px;
            }
        }
    }
}

.main-body{
    margin-left: 0px;
}


.card{
    .card-header{
        &.content-header{
            border-bottom: none;
        }
    }
}
.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4{
        font-size: 16px;
        color: var(--mini-card-color-secondary);
        .label{
            margin-top: 5px;
            display: block;
            color: var(--gray-primary);
            font-size: 12px;
            text-transform: capitalize;
        }
    }
    .price{
        color: var(--gray-primary);
        font-size: 16px;
        font-weight: 500;
    }
}
.order-content{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        display: block;
        &.heading{
            text-align: center;
            font-size: 16px;
            color: var(--mini-card-color-secondary);
        }
        &.count{
            text-align: center;
            color: var(--gray-primary);
            font-size: 14px;
            font-weight: 500;
        }
        &.hints{
            text-transform: capitalize;
            color: var(--mini-card-color-gray);
            font-size: 12px;
            margin-left: 5px;
        }
        &.badge{
            display: inline-block;}
        &.legend-ic{
            display: inline-block;
        }
    }
}

.income-content{
    .item{
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5{
            font-size: 16px;
            color: var(--mini-card-color-secondary);
        }
        .price{
            text-align: center;
            color: var(--gray-primary);
            font-size: 14px;
            font-weight: 500;
            .btn{
                padding: 0px;
                font-size: 13px;
                &.success-soft{
                    &:hover{
                        color: var(--success-soft-color);
                    }
                }
                &.danger-soft{
                    &:hover{
                        color: var(--danger-soft-color);
                    }
                }
            }
        }
    }
}

.over-view-card{
    .card-header{
        display: block;
        background: linear-gradient(to left,var(--bs-purple),var( --bs-red));
        min-height: 165px;
        &.boder-b-n{
            border-bottom: none;
        }
    }
    .over-view{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4{
            font-size: 16px;
            color: var(--bs-white);
        }
        .btn-icon{
            i{
                color: var(--bs-white);
            }
        }
    }
    .card-body{
        margin-top: -73px;
        background-color: transparent;
        min-height: 405px;
    }
}
.popular-product{
    .custom-h{
        height: 380px;
        overflow-y: auto;
    }
}
.daily-activity{
    .card-body{
        // min-height: calc(100% - 60px);
        height: calc(535px - 60px);
        overflow-y: auto;
        .image{
            display: inline-block;
            width: 40px;
            height: 40px;
            position: relative;
            border-radius: 50%;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
}


.sales-by-location{
    .list-main{
        .list-group-item{
            border-bottom: none;
            padding-top: 0px;
        }
    }
    .country-image-sm{
        display: inline-block;
        color: var(--base-color);
        font-size: 14px;
        font-weight: 600;
        img{
            width: 30px;
            height: 20px;
            margin-right: 15px;
            border-radius: 4px;
        }
    }
    .balance{
        display: flex;
        padding-bottom: 15px;
        span{
            margin-top: 10px;
            margin-right: 2px;
        }
        strong{
            font-size: 36px;
        }
        .label{
            margin-left: 5px;
        }    
    }
    .info{
        span{
            font-size: 14px;
            font-weight: 600;
        }
        .count{
           margin-right: 15px;
        }
        .icon-p{
            font-size: 12px;
            margin-right: 5px;
        }
    }
    .percentage,.count{
        color: var(--base-color);
    }

  
}


@media only screen and (max-width: 991px) {
    .wrapper{
        margin-left: 0px;
        .wrapper-content{
            margin-top: 30px;
            margin-bottom: 30px;
            flex: 1 1 auto;
            min-height: calc(100vh - 318px) ;
        }
    }
    .main-body{
        margin-left: 0px;
    }   
}
@media only screen and (max-width: 767px) {
    .wrapper{
        margin-left: 0px;
        .container-fluid{
            padding: 0px 15px;
        }
        .page-top-border{
            margin: 0px 15px;
        }
        .wrapper-content{
            margin-top: 15px;
            margin-bottom: 15px;
            flex: 1 1 auto;
            min-height: calc(100vh - 281px) ;
        }
    } 
}

@media only screen and (max-width: 575px) {
    .wrapper{
        margin-left: 0px;
        .container-fluid{
            padding: 0px 15px;
        }
        .page-top-border{
            margin: 0px 15px;
        }
        .wrapper-content{
            margin-top: 15px;
            margin-bottom: 15px;
            flex: 1 1 auto;
            min-height: calc(100vh - 315px) ;
        }
    } 
}