.badge{
    font-size: 13px;
    font-weight: 600;
}

.bg-success-soft {
    background-color: var(--bg-success-soft);
    color: var(--success-soft-color);
}
.bg-danger-soft{
    background-color: var(--bg-danger-soft);
    color: var(--danger-soft-color);
}

.bg-pupple-soft{
    background: var(--bg-soft-pupple);
    color: var(--pupple-soft-color);
}

.bg-orange-soft{
    background: var(--bg-soft-orange);
    color: var(--orange-soft-color);
}


.bg-gray-soft{
    background-color: var(--bg-gray-soft);
    color: var(--gray-softcolor);
}

.bg-blue-soft{
    background-color: var(--bg-blue-soft);
    color: var(--blue-softcolor);
}

.success-soft{
    color: var(--success-soft-color);
}
.danger-soft{
    color: var(--danger-soft-color);
}
.gray-soft{
    color: var(--gray-soft-color);
}
.blue-soft{
    color: var(--blue-soft-color);
}