.card{
    border-color: var(--base-border-color);
    background-color: var(--box-bg);
    border: 1px solid var(--base-border-color);
    border-radius: 0.95rem;
    box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.03);
    .card-header{
        border-bottom: 1px solid var(--base-border-color);
        padding: 15px 25px;
        background-color: var(--box-bg);
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: capitalize;
        &:first-child{
            border-radius: calc(0.95rem - 1px) calc(0.95rem - 1px) 0 0;
        }
        .card-title{
            margin-bottom: 0px;
            font-weight: 500;
            font-size: 14px;
        }
        .label{
            color: var(--base-color-primary);
        }
        .price{
            color: var(--base-color-primary);
            font-size: 14px;
        }
        .card-header-ellipsis{
            font-size: 14px;
            color: var(--base-color-primary);
            background-color: var(--bg-parmary);
            padding: 2px 7px;
            box-shadow: none;
            border: none;
            &:focus{
                box-shadow: none;
                border: none;
            }
            &:hover{
                color: var(--bs-white);
                background-color: var(--ellipsis-hover-bg);
            }
        }
        .header-toolbar{
            display: flex;
            align-items: center;
        }
        .social-count{
            font-size: 13px;
            border-radius: 0.95rem;
            font-weight: 500;
        }
    }
    .card-body{
        background-color: var(--box-bg);
        padding: 15px 25px;
        border-radius: 0rem 0rem 0.95rem 0.95rem;
        &.boder-radius-around{
            border-radius: 0.95rem 0.95rem;
        }
        .hints{
            color: var(--base-color-primary);
        }
        .card-body-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .inner-item{
                max-width: 50%;
                flex-shrink: 0;
                width: 50%;
            }
        }
    }
   
}
.card-sm{
    font-weight: 500;
    border: 1px solid var(--base-border-color);
    h6{
        color: var(--base-color-primary);
        letter-spacing: .08em;
        font-size: 10px;
        margin-bottom: 6px;
        text-transform: uppercase;
        margin-right: 6px;
    }
    .h-text{
        letter-spacing: -.02em;
        font-weight: 500;
        font-size: 16px;
    }
    .badge{
        font-weight: 400;
    }
    .static{
        .text-mute{
            text-transform: capitalize;
            color: var(--base-color-primary);
            font-size: 12px;
            margin-left: 5px;
        }
    }
    .icon{
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        font-size: 20px;
        border-radius: 50%;
    }
    .card-header{
        color: var(--base-color);
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 15px 25px;
        height: 70px;
        h4{
            color: var(--base-color);
            font-size: 16px;
            text-transform: capitalize;
        }
        &.boder-b-n{
            border-bottom: 1px solid var(--base-border-color);
        }
        .view-all-btn{
            color: var(--base-color-secondary);
            font-size: 13px;
        }
       
    }
    .card-body{
        padding: 15px 25px;
        .progress{
            background-color: var(--progess-bar-bg);
            height: 0.5rem;
        }
        .card-progress{
            border: 1px solid var(--base-border-color);
            background-color: var(--box-bg);
            padding: 15px 25px;
            border-radius: 0.5rem 0.5rem;
            box-shadow: 0 0 30px rgba(146,153,184,.1);
            margin-top: 15px;
            &:first-child{
                margin-top: 0px;
            }
        }
        .card-progress__info{
            justify-content: space-between;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            span{
                display: block;
                letter-spacing: .02em;
                font-size: 13px;
                text-transform: capitalize;
                strong{
                    font-size: 16px;    
                }
                &.info-left{
                    span{
                        color: var(--base-color-primary);
                    }
                }
                &.info-right{
                    text-align: right;
                    span{
                        color: var(--base-color-primary);
                    }
                }
            }
        }
        .progress-view{
            margin-top: 15px;
            justify-content: space-between;
            display: flex;
            align-items: center;
            .progress-previous{
                color: var(--base-color-primary);
                font-size: 13px;
                font-weight: 500;
                strong{
                    font-size: 13px;
                    font-weight: 500;
                }
            }
            .progress-est{
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}
.over-view-card {
    .over-view{
        .card-header-ellipsis{
            color: var(--bs-white);
            background-color: #9e88f5;
            border: none;
            padding: 2px 7px;
            &:focus{
                border: none;
                box-shadow: none;
            }
            &:hover{
                color: var(--bs-white);
            }
        }
    }
}


