.apexcharts-canvas{
    .apexcharts-xaxis-tick{
        display: none;
    }
}
.apexcharts-tooltip {
    color: var(--base-color-primary) !important;
    &.apexcharts-theme-light, &.apexcharts-active{
        background: var(--box-bg) !important;
        border: 1px solid var(--base-border-color) !important;
        .apexcharts-tooltip-title{
            background: var(--box-bg) !important;
            border-bottom:  1px solid var(--base-border-color) !important;
        }
    }
}

.apexcharts-xaxistooltip{
    color: var(--base-color-primary) !important;
    &.apexcharts-active{
        background: var(--box-bg) !important;
        border: 1px solid var(--base-border-color) !important;
        font-weight: 600;
    }
}
.apexcharts-inner{
    margin-top: 1rem;
}
.apexcharts-toolbar{
    top: -5px !important;
    .apexcharts-zoom-icon{
        color: var(--mini-card-color-gray);
        &.apexcharts-selected{
            display: none;
        }
    }
}
.apexcharts-menu{
    .apexcharts-menu-item {
        padding: 6px 6px;
    }
}
.apexcharts-legend-series{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.canvas-container{
    min-height: 310px;
    .height-chart{
        max-height: 310px;
    }
}
.height-chart_js_donut{
    min-height: 380px;
}
.legend-ic{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 6px;
}
.chart-box-full{
    margin: 0px -25px -15px -25px;
    overflow: hidden;
    border-radius: 0.95rem;
}