.apexcharts-canvas{
    // padding-top: 1rem;
    .apexcharts-xaxis-tick{
        display: none;
    }
}
.apexcharts-tooltip {
    color: var(--mini-card-color-gray) !important;
    &.apexcharts-theme-light, &.apexcharts-active{
        background: var(--card-bg) !important;
        border: 1px solid var(--card-border) !important;
        .apexcharts-tooltip-title{
            background: var(--card-bg) !important;
            border-bottom:  1px solid var(--card-border) !important;
        }
    }
}
.apexcharts-xaxistooltip{
    color: var(--mini-card-color-gray) !important;
    &.apexcharts-active{
        background: var(--card-bg) !important;
        border: 1px solid var(--card-border) !important;
        font-weight: 600;
    }
}
.apexcharts-inner{
    margin-top: 1rem;
}
.apexcharts-toolbar{
    top: -5px !important;
    .apexcharts-zoom-icon{
        color: var(--mini-card-color-gray);
        &.apexcharts-selected{
            display: none;
        }
    }
}
.apexcharts-menu{
    .apexcharts-menu-item {
        padding: 6px 6px;
    }
}
.apexcharts-legend-series{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.canvas-container{
    padding-top: 1rem;
    height: 314px;
    .height-chart{
        max-height: 314px;
    }
}
.height-chart_js_donut{
    max-height: 450px;
}
.legend-ic{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 6px;
    background-color: var(--orange-soft-color);
    &.bg-orange{
        background-color: var(--orange-soft-color);
    }
    &.bg-danger{
        background-color: var(--bg-danger-soft);
    }
}