.list-group{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.5rem;
    background-color: var(--list-bg);
}
.list-main{
    border-radius: 0rem;
    width: 100%;
    .row{
        align-items: center;
    }
    .list-group-item{
        border-radius: 0px;
        border: none;
        padding: 15px 0px;
        background-color: var(--list-item-bg);
        border-bottom: 1px solid var(--base-border-color);
        &:first-child{
            padding-top: 0px;
        }
        &:last-child{
            border-bottom: none;
            padding-bottom: 0px;
        }
    }
    .image{
        img{
            width: 64px;
            object-fit: cover;
            border-radius: 6px;
        }
    }
    .info{
        h4{
            letter-spacing: -0.32px;
            margin-bottom: 5px;
            a{
                font-size: 14px;
                color: var(--color-base);
            }
        }
        .small-text{
            color: var(--color-primary);
            font-size: 12px;
            text-transform: capitalize;
        }
    }
}